In [ ]:
x=[10,20,30,40,50]
print(x[0])
print(x[0:2])
print(x[-1])
print(x[:3])
print(x[4:])

In [ ]:
a=["Aplle", "banana","chery","ornage","kivi","melon","mango"]
print(a[2:5])

Matrix Operations Extract the first two rows:

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
first_two_rows = matrix[:2]
print(first_two_rows)

b) Extract only the second column from all rows:

In [ ]:
second_column = [row[1] for row in matrix]
print(second_column)

2. Temperature List Operations
a) Extract temperatures from index 2 to 6:

In [ ]:
temperatures = [32, 35, 30, 28, 40, 45, 38, 36, 33]
temp_subset_1 = temperatures[2:7]
print(temp_subset_1)

b) Extract temperatures from index 4 to the end:

In [ ]:
temp_subset_2 = temperatures[4:]
print(temp_subset_2)

3. Colors List Operations
a) Extract every second color:

In [ ]:
colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink']
every_second_color = colors[::2]
print(every_second_color)

b) Extract every third color:

In [ ]:
every_third_color = colors[::3]
print(every_third_color)

Append Items

In [ ]:
x=[10,20,30,40,50]
x.append(60)
print(x)

In [ ]:
y=["Aplle", "banana", "cherry"]
y.append("orange")
print(y)

In [ ]:
A=["Aplle", "banana", "cherry"]
A.insert(1,"orange")
print(A)

In [ ]:
c=["Apple","banana","cherry"]
c.remove("banana")
print(c)

In [ ]:
D=["Apple","banana","cherry"]
D.pop(1)
print(D)

In [ ]:
F=["Apple","banana","cherry"]
F.clear()
print(F)

In [ ]:
G=["Apple","banana","cherry"]
H=["orange","kiwi","mango"]
G.extend(H)
print(G)

In [ ]:
G=["Apple","banana","cherry"]
U=G.copy()
print(U)